* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-size: 62,5%;
}
/*-------------Général-------------*/

p, h1, h2, h3, h4{

    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    letter-spacing: normal;
}

i{

    margin-left: 0.5rem;
}

/*-------------ACCUEIL-------------*/

header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.0rem;
  
}



h1{

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
}

h2{

    font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;
    font-weight: normal;
}


.flexmenu {
    position: fixed;
    width: 100%;
    height: 15vh;
    color: rgb(54, 54, 54);
    background-color: #F4F4F4;
    z-index: 3;
    
  }

.flex {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0.4em;
  }

.menu {

    display: none;
    padding: 0;
 
  }
.reseaux{
    
    padding-top: 51px;
}

.name:first-child {
    display: inline-flex;
    justify-content: left;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    padding: 2.3rem;
    padding-left: 3.5rem;

  }
.menu a {
    color: rgb(53, 53, 53);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    transition: 0.7s;
  }

  .menu a:hover {
    color: rgb(201, 201, 201);
    transition: 0.7s;

  }


.onglets{
    display: flex;
    justify-content: space-around;
    width: 40%;
    padding-right: 3rem;
}

  .mobile-menu {
    position: absolute;
    right: 1.6rem;
    top: 1.5rem;
    width: 1.6rem;
  }

  .menu-icon.close{

    font-size: 2rem;
    font-weight: lighter;
    cursor: pointer;
  }
  .menu-icon {
    font-size: 3.5rem;
    font-weight: lighter;
    cursor: pointer;
  }
  .hide {
    display: none;
  }
  .show {
    display: inline-flex;
  }

/*-------------ACCUEIL-------------*/



.acceuil{
    width: 100%;
}


.description{

    display: flex;
    height: 100vh;
    background-color: #F4F4F4;

}

p.looking{

    line-height: 73px;
    font-weight: 400;
}

.texte-accueil{
    width: 100%;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 58px;
    font-family: 'Poppins', sans-serif;
    
}

img{
    
    width: 100%;
}

.portrait{
    position: sticky;
    width: 52%;
}

/*-------------THIS IS ME-------------*/
#this-is-me{

    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

#this-is{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px;
    line-height: 2rem;
   
 
}
.me{
    width: 47%;
    height: 160px;
    font-size: 3.5rem;
    padding-left: 50px;
    background: #F0FF02;
    margin-top: 5rem;
}



.paragraph{

    font-size: 0.95rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    width: 50%;
    padding-right: 200px;
    font-weight: 100;
}


.texte-description{
    width: 100%;
    font-weight: 200;
    font-size: 1.7rem;
    padding-top: 90px;
}

.this{

    width: 50%;
    font-size: 2.1rem;
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    line-height: 4rem;

}

.cv{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    width: 50%;
}

button{

   
    padding: 20px 60px 20px 60px;
    margin: 80px 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    font-weight: 100;
    font-size: 0.9rem;
    background: none;
    border: 1px solid black;
    transition: 0.5s;
    }
    

button:hover{

    color: white;
    background-color: black;
    transition: 0.5s;
}
/*-------------Addvise-------------*/


#advise{
    width: 100%;
    display: flex;
    margin-top: -80px;
    justify-content: flex-end;
  
}

.photo{
    width: 40%;
}

/*-------------Texte Compagnies-------------*/


.advise-companies{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -12rem;
}

.texte{
    width: 50%;
    background-color: #F4F4F4;
    padding-bottom: 1rem;
}

h3{

    font-size: 3.2rem;
    font-weight: 100;
    padding-top: 3rem;
    padding-left: 3rem;
}

p.edit{

    width: 100%;
    font-size: 1.0rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: start;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    line-height: 2rem;

}

.get{

    margin-left: 4rem;
}
/*-------------Clients-------------*/

#client-collab{

        display: flex;
        width: 50%;
        height: 100vh;
        align-items: center;
        padding-left: 5rem;
        background-color: #F0FF02;
        height: 9rem;
        margin-top: 15rem;
    }
    
.clients{
    
    font-size: 3rem;
    margin-top: -10rem;
    line-height: 3.5rem;
    
}


.texte-collab{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texte-clients{

    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    height: 30rem;
    margin-top: -2rem;
   
  
}

.les-partenaires{

    margin: 0;
    margin-left: 27rem;
    margin-right: 27rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 2rem;
}

.partenaires{
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    width: 100%;
}

.picto{

    width: 140px;
    height: 110px;
}




/*-------------BLOG-------------*/
.date{
    height: 100%;
    display: flex;
    align-items: flex-start;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    
}

.jour{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.8rem;
}

#blog{

    width: 100%;
    text-align: center;
    padding-top: 5rem;
    font-size: 3rem;
    font-weight: 100;
}

.carte-blog{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.grid-section{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./img/portrait.webp);
    width: 20rem;
    height: 20rem;
    background-size: cover;
    margin-left: 2rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
  
}



.blog-card{

    display: flex;
    align-items: flex-end;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}









#newsletter{

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 2rem;
    margin-top: 1rem;
}


.footer{

    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.mail{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

input{

    width: 40rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.envoyer{


    width: 40rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #F0FF02;
    text-align: center;
    margin: 0;

    
}


  
@media screen and (min-width: 780px) {


.mobile-menu {
      display: none;
    }
    
.flex {
      flex-direction: row;
      
    }
    .menu {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;

    }



  }
  







@media screen and (max-width:1000px){
   
.onglets{

        flex-direction: column;
}  


  
 .portrait{

    width: 100%;
    
 }

.description{

        flex-wrap: wrap-reverse;
        justify-content: center;
    
    
    }

.texte-accueil{
 
        font-size: 2rem;

    }



    /*--------------------- THIS IS ME ---------------------*/
.this-is-me{

    height: 100vh; 
    width: 100%;

}

#this-is{

        margin: 0;
        padding: 0;   
       
     
    }

.this{

    text-align: justify;
    width: 100%;
    padding-left: 50px;
    font-size: 2rem;
    padding-bottom: 2rem;
    padding-top: 0;
   
    
}

.paragraph{

    width: 90%;
    margin: 0;
    padding: 2rem;

}

/*-------------Addvise-------------*/


#advise{

    width: 100%;
    height: auto;
    margin-top: 0px;
  
}

.photo{
    width: 100%;
}

/*-------------Addvise-------------*/
.advise-companies{

    height: 100vh;
    width: 100%;
    margin-top: -50px;
}

.texte{
    width: 85%;
    background-color: #F4F4F4;
}
.compaigns{

font-size: 2rem;
}

.cv{
    width: 100%;

    display: flex;
    justify-content: center;
}
button{

    padding-left: 100px;
    padding-right: 100px;
    margin: 0;

}

button.get{

    margin: 0px;
}
/*-------------Clients-------------*/

#client-collab{

    display: flex;
    width: 80%;
    padding-left: 4rem;
    height: -8rem;
}

.les-partenaires{

margin-left: 2.5rem;
margin-right: 2.5rem;
text-align: justify;
}

.partenaires{
display: flex;
flex-wrap: wrap;
}



/*-------------Blog-------------*/


.carte-blog{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.grid-section{

    width: 25rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    background-image: url(./img/portrait.webp);
    background-size: cover;
    margin: 0;
}


.blog-card{

    display: flex;
    align-items: flex-end;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

}



/*-------------Newletter-------------*/


.footer{

    text-align: justify;
    padding: 2rem;
    font-size: 1.5rem;
}

.mail{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    
}

input{

    width: 40rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
.adress{
    width: 90%;

}
.envoyer{


    width: 90%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: yellow;
    text-align: center;
    margin: 0;

    
}
}